.logo{
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}

.navbar{
    background-color: aqua;
}

ul, .nav_item{
    display:inline-block;
}

.nav_item a{
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
} 

/* section */

.card{
    display:inline-block;
    text-align: center;
    width:29%;
    border:1px solid rgba(39, 207, 134, 0.2);
    border-radius:8px ;
}

.description{
    color:rgba(0, 0, 0, 0.2)
}

