.text{
    border: 3px solid green;
    border-radius:10px 10px 0px 10px;
    background-color:aqua;
}

.block{
    height:300px;
    display:inline-block;
    width:50%;
    background-color:#d61887
}

.contrakt{
    display:inline-block;
    width:49%;
    background-color: aqua;
    height:300px;
    text-align: center;
}